<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a Book</title>
</head>
<body>
    <form action="/add" method="post">
        enter book name       : <input type ="text" name = "book_name" required > <br><br>
        enter Author name     : <input type ="text" name = "auth_name" > <br><br>
        enter Publisher name  : <input type ="text" name = "pub_name"  > <br><br>
        enter number of pages : <input type ="text" name = "no_pages"  > <br><br>
        enter price           : <input type ="text" name = "price"     > <br><br>
        <input type="submit" value="update">
    </form>
</body>
</html>